.hour {
  height: 76px;
  border-bottom: 1px solid #cbcbcb;
  position: relative;
  padding: 0 30px;
  box-sizing: border-box;
  display: flex;
}

.hour::before {
  content: attr(formatted-hour);
  font-size: 16px;
  position: absolute;
  right: calc(100% + 39px);
  top: -9px;
}

.hour::after {
  content: attr(ampm);
  font-size: 12px;
  position: absolute;
  color: #a4a4a4;
  text-transform: lowercase;
  top: -6px;
  right: calc(100% + 13px);
}

.hour .half {
  color: #a4a4a4;
  font-size: 12px;
  position: absolute;
  right: calc(100% + 13px);
  top: 0;
  bottom: 0;
  margin: auto 0 auto;
  height: 13px;
}
